#title{
    font-size: 8vh;
    margin-top:2vh
}

body{
    background-color: #8dc4b1;
}

#back{
    position:absolute;
    margin-top:6vh;
    background-color: #2a6751af;
    border:1px solid #144031;
    border-radius: 50%;
    width:5vh;
    height:5vh;
    
    font-size: x-large;
}

#character{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 80vh;
}

.myCard{
    width: 80%;
}

.card-body{
    height: 70vh;
    margin: 0;
}

#hImg{
    background-image: url("https://wallpapercave.com/wp/wp4910778.jpg");
    background-size: cover;
    background-position: center;
}

#next, #prev {
    position: absolute;
    margin-top:50vh;
    border:none;
    border-radius:10px;
    padding:0.5em;
    background-color: wheat;
}

#prev{
    margin-left:2vh
}

#next{
    margin-left:94vw
}